# This is a basic workflow to help you get started with Actions

name: CI to Docker Hub

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  php-8:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    timeout-minutes: 720
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout Repo
        uses: actions/checkout@v2
      - name: Login to Dockerhub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: PHP 8 FPM
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile-8-fpm
          builder: ${{ steps.buildx.outputs.name }}
          platforms: linux/amd64,linux/arm64/v8
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: true
          tags: koalaphils/php:8-fpm
      - name: PHP 8 Apache
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile-8-apache
          builder: ${{ steps.buildx.outputs.name }}
          platforms: linux/amd64,linux/arm64/v8
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: true
          tags: koalaphils/php:8-apache

  php-8-buster:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    timeout-minutes: 720
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout Repo
        uses: actions/checkout@v2
      - name: Login to Dockerhub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: PHP 8 FPM Buster
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile-8-fpm
          builder: ${{ steps.buildx.outputs.name }}
          platforms: linux/amd64,linux/arm64/v8
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: true
          build-args: OS=buster
          tags: koalaphils/php:8-fpm-buster
      - name: PHP 8 Apache Buster
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile-8-apache
          builder: ${{ steps.buildx.outputs.name }}
          platforms: linux/amd64,linux/arm64/v8
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: true
          build-args: OS=buster
          tags: koalaphils/php:8-apache-buster

  php-74:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    timeout-minutes: 720
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout Repo
        uses: actions/checkout@v2
      - name: Login to Dockerhub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: PHP 7.4 FPM
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile-7.4-fpm
          builder: ${{ steps.buildx.outputs.name }}
          platforms: linux/amd64,linux/arm64/v8
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: true
          tags: koalaphils/php:7.4-fpm
      - name: PHP 7.4 Apache
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile-7.4-apache
          builder: ${{ steps.buildx.outputs.name }}
          platforms: linux/amd64,linux/arm64/v8
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: true
          tags: koalaphils/php:7.4-apache

  php-74-buster:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    timeout-minutes: 720
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout Repo
        uses: actions/checkout@v2
      - name: Login to Dockerhub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: PHP 7.4 FPM Buster
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile-7.4-fpm
          builder: ${{ steps.buildx.outputs.name }}
          platforms: linux/amd64,linux/arm64/v8
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: true
          build-args: OS=buster
          tags: koalaphils/php:7.4-fpm-buster
      - name: PHP 7.4 Apache Buster
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile-7.4-apache
          builder: ${{ steps.buildx.outputs.name }}
          platforms: linux/amd64,linux/arm64/v8
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: true
          build-args: OS=buster
          tags: koalaphils/php:7.4-apache-buster

  php-73:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    timeout-minutes: 720
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout Repo
        uses: actions/checkout@v2
      - name: Login to Dockerhub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: PHP 7.3 FPM
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile-7.3-fpm
          builder: ${{ steps.buildx.outputs.name }}
          platforms: linux/amd64,linux/arm64/v8
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: true
          tags: koalaphils/php:7.3-fpm

  php-73-buster:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    timeout-minutes: 720
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout Repo
        uses: actions/checkout@v2
      - name: Login to Dockerhub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: PHP 7.3 FPM Buster
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile-7.3-fpm
          builder: ${{ steps.buildx.outputs.name }}
          platforms: linux/amd64,linux/arm64/v8
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: true
          build-args: OS=buster
          tags: koalaphils/php:7.3-fpm-buster